:root{
    --text-color: #262626;
    --primary-color: #00AEFB;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button, input{
  font-family: inherit; 
  font-size: 100%; 
  margin: 0;
  background-color: none;
  border: none;
  text-transform: none;
}

a{
    text-decoration: none;
    color: inherit;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'roboto', Arial, Helvetica, sans-serif;
    color: var(--text-color);
    width: 100%;
}

nav{
    display: flex;
    justify-content: space-between;
    margin: 1em 3em;
    flex-direction: row;  
}



.search{
    border-bottom: 5px solid var(--primary-color);
    width: 400px;
    height: 40px;
    padding: 10px;
    background-color: #ebf9ff;
}

.main-heading{
    margin: 2em 2em;
    font-size: 2rem;
}

.list-container{
    display: grid;
   justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(16em, 1fr));
    gap: 20px;
    margin: 4em;
}

.card{
    border-radius: 15px;
    width: 16em;
    height: 19em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    box-shadow: 0px 5px 10px #c9c9c9;
    transition: all .5s ease-in-out;
}

.card:hover{
    transform: translateY(-8px);
    box-shadow: 0px 7px 15px #c9c9c9;
}

.img-container{
    width: 6em;
    height: 6em;
  background: linear-gradient(to top right, var(--primary-color), #0072a3);
  padding: 51px;
  border-radius: 50px;
}

.img-container > img{
    width: 6em;
    height: 6em;
    border-radius: 50px;
    transform: translate(-50%, -50%);
}

.speciality{
    color: var(--text-color);
    opacity: .8;
    font-weight: 500;
    font-size: .9rem;
    margin-bottom: 1em;
}

.info{
    display: flex;
    justify-content: space-around;
    margin-bottom: 1.5em;
    width: 100%;
}

.info-content{
    text-align: center;
}

.info-title{
    font-weight: 500;
    font-size: .8rem;
}

.btn-contact{
    font-weight: bold;
    color: white;
    background-color: var(--primary-color);
    padding: .5em 1.5em;
    border-radius: 50px;
    cursor: pointer;
    background-image: linear-gradient(to top right, var(--primary-color), #0072a3);
    transition: background-image .5s ease-in-out;
}

.btn-contact:hover{
    background-image: linear-gradient(to top right, #39d400, #258a00);
}

.top{
    position: fixed;
    right: 0;
    bottom: 0;
    background-image:  linear-gradient(to top right, var(--primary-color), #0072a3);
    font-weight: bold;
    border-radius: 50px;
    padding: 1em;
    margin: 1em;
    width: 3.3em;
    height: 3.3em;
}

.top:hover > svg{
    animation: top .7s ease-in-out infinite;
}

@keyframes top {
    0%{
        transform: translateY(-5px);
        opacity: 1;
    }
    50%{
        transform: translateY(5px);
        opacity: .7;
    }
    100%{
        transform: translateY(-5px);
        opacity: 1;
    }
}

@media (max-width: 768px) { 
    
    .top{
        display: none;
    }
}

@media (max-width: 680px) { 
    
    nav{
        flex-direction: column;
    }

    .search{
        margin-top: .5em;
        width: 100%;
    }
    .main-heading{
        font-size: 1.5rem;
    }
}

@media (max-width: 680px) { 
    
    nav{
        flex-direction: column;
    }

    .search{
        margin-top: .5em;
        width: 100%;
    }
    .main-heading{
        font-size: 1.5rem;
    }
}

@media (max-width: 320px) { 
    
    .main-heading{
        font-size: 1.3rem;
    }
}